<%- include("partial/header.ejs", {title: "About"}) %>
<div class="info-container">
    <p>
        EZNote is a project created during the Broward College PlutoHacks hackathon 2023. <br/><br/>The purpose of the project is to provide busy employees or students with an effective and simple
        solution to quickly summarizing meetings, lectures, etc. in a way that allows them to be reflect on later. <br/><br/>EZNote utilizes OpenAI's chatGPT and whisper API to transcribe an audio
        recording into text, which is then transformed again into a markdown formatted document containing key points of the recording, the resulting document is subsequently converted info
        a PDF and sent to the user for easy accessibility.
    </p>
</div>
<%- include("partial/footer.ejs") %>