<%- include('partial/header.ejs') %>
<form enctype="multipart/form-data" method="POST">
    <input type="file" name="file" accept=".wav, .mp3, .m4a">
    <button value="submit">Submit</button>
</form>
<%- include('partial/footer.ejs') %>